html,
body {
  font-family: "Noto Sans TC", sans-serif;
  color: #2d2d2d;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

header {
  position: relative;
  z-index: 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  width: 1200px;
  height: 1700px; /*要用z-index定位沒辦法QQ*/
  margin: 0 auto;
  position: relative;
}

/* 麵包屑 */
.breadcrumb_list {
  list-style: none;
  font-size: 16px;
  margin: 10px 15px;
}

.breadcrumb_list > li {
  display: inline-block;
  color: gray;
  font-size: 1rem;
}

.breadcrumb_list > li > a {
  text-decoration: none;
  display: inline-block;
  color: #2d2d2d;
}

.breadcrumb_list > li::before {
  content: "/";
  font-size: 18px;
  color: #ffce5b;
  margin: 0 10px;
}

.breadcrumb_list > li:first-child::before {
  display: none;
}

/* 關於中心 */
.guid_content {
  border: 8px solid #ffce5b;
  background: white;
  border-radius: 40px;
  width: 90%;
  padding: 50px 200px 50px 70px;
  position: absolute;
  top: 50px;
  z-index: 1;
}

.button {
  border-radius: 10px;
}

.button:hover {
  box-shadow: 3px 3px 10px #ffce5b;
}
/* 環境介紹 */
.area_content {
  background: white;
  border: 8px solid #ffce5b;
  border-radius: 40px;
  width: 90%;
  padding: 60px;
  position: absolute;
  top: 690px;
  right: 0;
  z-index: 0;
}

.area_intro_container {
  display: flex;
  margin-top: 40px;
  position: relative;
}

.place {
  border-radius: 20px 0 0 20px;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.area_intro {
  border-radius: 0 20px 20px 0;
  background: #ffce5b;
  width: 500px;
  height: 300px;
  padding: 100px 50px;
  font-size: 16px;
  line-height: 30px;
}

img.light {
  position: absolute;
  right: 50px;
  top: 30px;
}

/* 環境介紹地圖區 */

.area_map_container {
  margin-top: 20px;
  width: 900px;
  font-size: 0;
}

.audioroom,
.bookcrossing,
.readingroom,
.showroom {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  position: relative;
}
.audioroom {
  border: 6px solid #ffce5b;
  border-right: transparent;
  border-radius: 20px 0 0 20px;
  width: 350px;
  height: 200px;
}
.bookcrossing {
  border: 6px solid #ffce5b;
  border-right: transparent;
  width: 200px;
  height: 200px;
}
.readingroom {
  border: 6px solid #ffce5b;
  border-radius: 0 20px 20px 0;
  width: 350px;
  height: 200px;
}
.showroom {
  border: 6px solid #ffce5b;
  border-radius: 20px;
  width: 600px;
  height: 200px;
  margin-top: 10px;
}

.circle {
  background-color: #d6d6d6;
  width: 50px;
  height: 50px;
  border-radius: 50px 0 0 0;
  position: absolute;
  right: 6px;
  bottom: 6px;
}

.-click {
  background-color: #ff4b2d;
  width: 55px;
  height: 55px;
}
