html,
body {
  font-family: "Noto Sans TC", sans-serif;
  color: #2d2d2d;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

header {
  position: relative;
  z-index: 2;
}

.main_container,
.breadcrumb {
  width: 1200px;
  margin: 0 auto;
}

.main_container {
  border: 8px solid #ffce5b;
  border-radius: 40px;
  padding: 40px;
  display: flex;
}

.map {
  object-fit: contain;
}

.content_container {
  margin: 50px 10px;
  line-height: 30px;
}

/* 麵包屑 */
.breadcrumb_list {
  list-style: none;
  font-size: 16px;
  margin: 10px 15px;
}

.breadcrumb_list > li {
  display: inline-block;
  color: gray;
  font-size: 1rem;
}

.breadcrumb_list > li > a {
  text-decoration: none;
  display: inline-block;
  color: #2d2d2d;
}

.breadcrumb_list > li::before {
  content: "/";
  font-size: 18px;
  color: #ffce5b;
  margin: 0 10px;
}

.breadcrumb_list > li:first-child::before {
  display: none;
}
