html,
body {
  font-family: "Noto Sans TC", sans-serif;
  color: #2d2d2d;
}
header {
  position: relative;
  z-index: 2;
}

.topstory_container,
.online_container,
.history_container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
}
/* 最新展覽 */

.topstory_logo_container {
  width: 20%;
  position: relative;
}

.topstory_logo {
  width: 150px;
  height: 40px;
  background-color: #ff4b2d;
  border-radius: 4px;
  margin: 0 auto;
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 40px;
}

.topstory_logo_line {
  width: 4px;
  height: 400px;
  background-color: #ff4b2d;
  margin: 0 auto;
}

.topstory_content_container {
  width: 80%;
}

/* 線上展覽 */

.online_container {
  display: block;
}

.online_logo_container {
  display: flex;
}

.online_logo {
  width: 150px;
  height: 40px;
  background-color: #6c6cea;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  margin-left: 40px;
}

.online_logo_line {
  width: 900px;
  height: 4px;
  background-color: #6c6cea;
  margin-top: 20px;
}

.online_content {
  display: flex;
  margin: 40px 200px;
}

.online_info {
  margin: 20px 40px;
}

/* 歷史展覽 */
.history_container {
  display: block;
}
.history_logo_container {
  display: flex;
}

.history_logo_line {
  width: 1000px;
  height: 4px;
  background-color: #a7a7a7;
  margin-top: 20px;
}
.history_logo {
  width: 150px;
  height: 40px;
  margin-right: 40px;
  border-radius: 4px;
  background-color: #a7a7a7;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

.history_content_container {
  display: flex;
  justify-content: center;
}

.poster {
  margin: 30px;
  font-size: 18px;
  text-align: center;
}

.poster > img {
  width: 280px;
  height: 400px;
  object-fit: fill;
}
