html,
body {
  font-family: "Noto Sans TC", sans-serif;
  color: #2d2d2d;
}
header {
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 24px;
}

/* 性別沙龍區 */

.salon_container,
.class_container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  /* border: 1px solid red; */
}

.salon_img_container {
  width: 30%;
  text-align: center;
}

.salon_content_container {
  width: 70%;
}

.salon_content_new {
  width: 70%;
  border-radius: 20px;
  padding-left: 50px;
  line-height: 60px;
  font-size: 16px;
  color: #ff4b2d;
  font-weight: bold;
  background: #ffefce;
}

.salon_content_new > a {
  text-decoration: none;
  color: #2d2d2d;
}

.salon_content_old,
.class_content_old {
  margin-top: 20px;
  padding-left: 20px;
  line-height: 30px;
}

/* 課程區 */

.class_content_container {
  width: 50%;
  margin-top: 40px;
}

.class_img_container {
  width: 30%;
  text-align: center;
}

.class_content_new {
  border-radius: 20px;
  padding: 20px;
  font-size: 16px;
  color: #ff4b2d;
  font-weight: bold;
  background: #ffefce;
}

.class_content_new a {
  text-decoration: none;
  color: #2d2d2d;
}

.class_container {
  justify-content: flex-end;
}
